server/node_modules
server/public/hot
server/public/storage
server/storage/*.key
server/storage/app
server/storage/logs
server/vendor
server/.env
server/.env.backup
server/.phpunit.result.cache
server/Homestead.json
server/Homestead.yaml
server/npm-debug.log
server/yarn-error.log
# User-specific stuff:
**/.idea/workspace.xml
**/.idea/tasks.xml
**/.idea/dictionaries
**/.idea/vcs.xml
**/.idea/jsLibraryMappings.xml

# Sensitive or high-churn files:
**/.idea/dataSources.ids
**/.idea/dataSources.xml
**/.idea/dataSources.local.xml
**/.idea/sqlDataSources.xml
**/.idea/dynamic.xml
**/.idea/uiDesigner.xml
server/.docker

desktop/node_modules
desktop/.env
desktop/.env.production
desktop/.env.proxy
desktop/.env.staging

mobile/node_modules
mobile/.env
mobile/.env.production
mobile/.env.proxy
mobile/.env.staging
